#bg {
  width: 98vw;
  height: 96vh;
  background:
  linear-gradient(red, transparent),
  linear-gradient(to top left, lime, transparent),
  linear-gradient(to top right, blue, transparent);
background-blend-mode: screen;
background-position: center;
background-repeat: no-repeat;
background-size: contain;

}

#memory-container {
  padding: 50px;
  margin: 50px;
  border: 2px;
}

img {
  width: 60px;
}

.removed {
  visibility: hidden;
}