.bg {
  width: 100vw;
  height: 100vh;
  background:
  linear-gradient(red, transparent),
  linear-gradient(to top left, lime, transparent),
  linear-gradient(to top right, blue, transparent);
background-blend-mode: screen;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

#container {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  position: absolute;
}

/* #memory-container {
  width: 300px;
  height: 350px;
  border: 2px solid black;
  background-color: rgb(224, 250, 250);
} */

#app-container {
  width: 100%;
  height: 400px;
}

.input-field1 {
  margin-left: auto;
  margin-right: auto;
}
/* 
#memory-container:hover {
  cursor: pointer;
  border-width: 20%;
} */

/* img {
  width: 60px;
}

.removed {
  visibility: hidden;
} */

