.bg {
  width: 100vw;
  height: 100vh;
  background:
  linear-gradient(red, transparent),
  linear-gradient(to top left, lime, transparent),
  linear-gradient(to top right, blue, transparent);
background-blend-mode: screen;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

#container {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  position: absolute;
}

/* #memory-container {
  width: 300px;
  height: 350px;
  border: 2px solid black;
  background-color: rgb(224, 250, 250);
} */

#app-container {
  width: 100%;
  height: 400px;
}

.input-field1 {
  margin-left: auto;
  margin-right: auto;
}

#menu-bar {
  display: inline-block;
  margin: 0;
  padding: 0;
  display: block;
  width: 60px;
  float: left;
}

li {
  list-style-type: none;
  padding: 20px;

}

ul a {
  display: block;
  width: 60px;
}

#memory-button {
  background-image: url('../image/noun_Wireframe_414645.png');
  background-size: cover;
  background-color: transparent;
  width: 99px;
  height: 99px;
  border: none;
}

#calc-button {
  background-image: url('../image/noun_Calculator_879204.png');
  background-size: cover;
  background-color: transparent;
  width: 99px;
  height: 99px;
  border: none;
}

#chat-button {
  background-image: url('../image/noun_chat_2177386.png');
  background-size: cover;
  background-color: transparent;
  width: 99px;
  height: 99px;
  border: none;
}

/* 
#memory-container:hover {
  cursor: pointer;
  border-width: 20%;
} */

/* img {
  width: 60px;
}

.removed {
  visibility: hidden;
} */
